%p#notice= notice
- content_for(:sidebar) do
  %p
    %b Name:
    = @workshop.name
  %p
    %b Description:
    != @workshop.description
  %p
    %b User:
    = @workshop.user_id
  %p
    %b Lat:
    = @workshop.lat
  %p
    %b Lng:
    = @workshop.lng
  %p
    %b Plan:
    = link_to @workshop.plan.name, plan_path(@workshop.plan)
  = link_to 'Edit', edit_workshop_path(@workshop)
  \|
  = link_to 'Back', workshops_path
  \|
  = link_to 'Destroy', @workshop, :confirm => 'Are you sure?', :method => :delete

#map{"style"=>"height:600px; width: 100%;"}

- workshop = @workshop.to_json

:javascript
  var workshop = #{workshop};
  var map, layer;
  function init(){
    map = new OpenLayers.Map('map');
    
    initMap(map,[workshop],null);
    
    map.setCenter(new OpenLayers.LonLat(workshop.lng, workshop.lat).transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            ), map.getZoom() + 3);
  }
