%p#notice= notice
- content_for(:sidebar) do
  %p
    %b Name:
    = @workshop.name
  %p
    %b Description:
    = @workshop.description
  %p
    %b User:
    = @workshop.user_id
  %p
    %b Lat:
    = @workshop.lat
  %p
    %b Lng:
    = @workshop.lng
  %p
    %b Plan:
    = link_to @workshop.plan.name, plan_path(@workshop.plan)
  = link_to 'Edit', edit_workshop_path(@workshop)
  \|
  = link_to 'Back', workshops_path
  \|
  = link_to 'Destroy', @workshop, :confirm => 'Are you sure?', :method => :delete

#map{"style"=>"height:600px; width: 100%;"}


:javascript
   var map, layer;
        function init(){
            OpenLayers.ProxyHost="/proxy/?url=";
            map = new OpenLayers.Map('map');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
                
            map.addLayer(layer);
            map.setCenter(new OpenLayers.LonLat(0, 0), 0);

            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);

            var size = new OpenLayers.Size(21,25);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            var icon = new OpenLayers.Icon('http://ww.openlayers.org/dev/img/marker.png',size,offset);
            var lonlat = new OpenLayers.LonLat(#{@workshop.lng}, #{@workshop.lat});
            markers.addMarker(new OpenLayers.Marker(lonlat,icon));
            
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            //map.zoomToMaxExtent();
            map.zoomIn(5);
        }
