= simple_form_for(@plan) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.label :description
    .wysihtml5-toolbar{ "id" => "wysihtml5-toolbar", "style" => "display:none;" }
      %button{ "data-wysihtml5-command" => "bold" }
        %b B
      %button{ "data-wysihtml5-command" => "italic" }
      %button{ "data-wysihtml5-command" => "insertOrderedList" } 1.
      %button{ "data-wysihtml5-command" => "insertUnorderedList" } &bull;
    = f.text_area :description
    .field
      = f.label :plan_image 
      = image_tag @plan.plan_image.public_url, :style => "max-width: 284px; margin: 10px 0px;"
      = f.file_field :plan_image 

  .form-actions
    = f.button :submit

:javascript
    var editor = new wysihtml5.Editor("plan_description", { // id of textarea element
                                      toolbar:      "wysihtml5-toolbar", // id of toolbar element
                                      parserRules:  wysihtml5ParserRules // defined in parser rules set 
    }); 
