= simple_form_for(@plan) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description
    .field
      = f.label :plan_image 
      = f.file_field :plan_image 

 
  .form-actions
    = f.button :submit
