%h1 Listing plans

%table
  %tr
    %th Name
    %th Description
    %th User
    %th
    %th
    %th

  - @plans.each do |plan|
    %tr
      %td= plan.name
      %td= plan.description
      %td= plan.user.email
      %td= link_to 'Show', plan
      %td= link_to 'Edit', edit_plan_path(plan)
      %td= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Plan', new_plan_path
