
%p#notice= notice

.row 
  .span12
    %h2= @plan.name
    %br
.row
  .sidebar.span4
    .well
      %br
      = image_tag @plan.plan_image.public_url, :style => "max-width: 284px; "
      %br
      %br
      %h4 Description
      %p
        != @plan.description

      .pull-right= link_to '[edit]', edit_plan_path(@plan)

  .centerbar.span4
    %h3 Implementations of this Plan
    %br
    #map{"style"=>"height:200px;"}

      - workshops = @plan.workshops.to_json

      :javascript
        var workshops = #{workshops};
        var map;
        function init(){
          map = new OpenLayers.Map('map');

          initMap(map,workshops,null);
        }

    .workshops
      %ul
        - @plan.workshops.each do |workshop|
          %li=link_to workshop.name, workshop_path(workshop)
      = link_to 'Add new Workshop', new_workshop_path, :class => 'btn btn-primary'   
   
  .rightbar.span4
    %h3 Attachments
    %hr
    
    %ul
      = render @plan.attachments
    
    .addAttachment
      = render "attachments/form"

