
%p#notice= notice
- content_for(:sidebar) do
  %p
    = link_to 'edit', edit_plan_path(@plan), class: 'btn'
  %p
    %b Name:
    = @plan.name
  %p
    %b Description:
    != @plan.description
  %p
    = image_tag @plan.plan_image.public_url, :style => "max-width: 284px; margin: 10px 0px;"
- content_for(:breadcrumb) do
  %ul.breadcrumb
    %li
      %a{ "href" => plans_path()} Incubator 
      %span.divider /
    %li.active
      = @plan.name

.workshops
  %b Workshops:
  %ul
    - @plan.workshops.each do |workshop|
      %li=link_to workshop.name, workshop_path(workshop)

#map{"style"=>"height:600px; width: 100%;"}

- workshops = @plan.workshops.to_json

:javascript
  var workshops = #{workshops};
  var map;
  function init(){
    map = new OpenLayers.Map('map');

    initMap(map,workshops,null);
  }

.attachments
  %h2 Attachments
  %ul
    = render @plan.attachments
  %h2 Add an Attachment:
  .addAttachment.row
    = render "attachments/form"

